<a href="https://colab.research.google.com/github/kritikaparmar-programmer/ML_Projects/blob/main/SpamEmail_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from nltk.tokenize import RegexpTokenizer, word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('../content/sample_data/spam.csv', encoding='ISO-8859-1')

In [ ]:
df

        v1  ... Unnamed: 4
0      ham  ...        NaN
1      ham  ...        NaN
2     spam  ...        NaN
3      ham  ...        NaN
4      ham  ...        NaN
...    ...  ...        ...
5567  spam  ...        NaN
5568   ham  ...        NaN
5569   ham  ...        NaN
5570   ham  ...        NaN
5571   ham  ...        NaN

[5572 rows x 5 columns]

In [ ]:
df.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [ ]:
df.describe()

          v1                      v2  ... Unnamed: 3 Unnamed: 4
count   5572                    5572  ...         12          6
unique     2                    5169  ...         10          5
top      ham  Sorry, I'll call later  ...         GE    GNT:-)"
freq    4825                      30  ...          2          2

[4 rows x 5 columns]

In [ ]:
le = LabelEncoder()

In [ ]:
data = df.to_numpy()

In [ ]:
data

array([['ham',
        'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
        nan, nan, nan],
       ['ham', 'Ok lar... Joking wif u oni...', nan, nan, nan],
       ['spam',
        "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
        nan, nan, nan],
       ...,
       ['ham',
        'Pity, * was in mood for that. So...any other suggestions?', nan,
        nan, nan],
       ['ham',
        "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
        nan, nan, nan],
       ['ham', 'Rofl. Its true to its name', nan, nan, nan]], dtype=object)

In [ ]:
len(data)

5572

In [ ]:
data[0]

array(['ham',
       'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       nan, nan, nan], dtype=object)

In [ ]:
data[2]

array(['spam',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       nan, nan, nan], dtype=object)

In [ ]:
# 0 th column is our answer
X = data[:, 1]  # we have only 2 cols
y = data[:, 0]

In [ ]:
X.shape, y.shape

((5572,), (5572,))

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
tokenizer = RegexpTokenizer('\w+')
sw = set(stopwords.words('english'))
ps = PorterStemmer()

In [ ]:
def getStem(review):
  review = review.lower()
  tokens = tokenizer.tokenize(review)  # breaking into small words
  removed_stopwords = [w for w in tokens if w not in sw]
  stemmed_words = [ps.stem(token) for token in removed_stopwords]
  clean_review = ' '.join(stemmed_words)
  return clean_review

In [ ]:
def getDoc(document):
  d = []
  for doc in document:
    d.append(getStem(doc))
  return d

In [ ]:
stemmed_doc = getDoc(X)

In [ ]:
stemmed_doc[:10]

['go jurong point crazi avail bugi n great world la e buffet cine got amor wat',
 'ok lar joke wif u oni',
 'free entri 2 wkli comp win fa cup final tkt 21st may 2005 text fa 87121 receiv entri question std txt rate c appli 08452810075over18',
 'u dun say earli hor u c alreadi say',
 'nah think goe usf live around though',
 'freemsg hey darl 3 week word back like fun still tb ok xxx std chg send å 1 50 rcv',
 'even brother like speak treat like aid patent',
 'per request mell mell oru minnaminungint nurungu vettam set callertun caller press 9 copi friend callertun',
 'winner valu network custom select receivea å 900 prize reward claim call 09061701461 claim code kl341 valid 12 hour',
 'mobil 11 month u r entitl updat latest colour mobil camera free call mobil updat co free 08002986030']

In [ ]:
ps.stem('winner')

'winner'

In [ ]:
cv = CountVectorizer()

In [ ]:
# create my vocab
vc = cv.fit_transform(stemmed_doc)

In [ ]:
X = vc.todense()

In [ ]:
train_test_split?

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [ ]:
# NaiveB from sklearn

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
model = MultinomialNB()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.977705274605764

In [ ]:
messages = [
    """
    Hi , Thanks for participating in this event. 
The hackathon will be held at 8:00 p.m. on 08 August 2020.
If you have any questions regarding the event kindly let me know through email or whatsapp me( https://api.whatsapp.com/send?phone=918221988235 )  for the same . 
Wishing you all the best for this hackathon.
Regards 
    """,
  """
  Hi Kritika,

Don’t let your passion remain a hobby when you can build your dream career in it. We are here to help you master the skills you are passionate about.

Internshala brings to you certified online trainings on in-demand skills. Explore Programming with Python, Digital Marketing, Web Development, & many more. Master the skill in 4-6 weeks and get placement assistance to kickstart your career.

Also, we are giving a discount of up to 55%+10% on all trainings to help you pursue your passion. Use Coupon: PASSION10 (valid till 31st July).
  """,

  """
  Hey Kritika Parmar,
 
It is not every day that opportunities knock our door; and when they do, we mustn’t let them slip away. Coding Blocks is here with one such opportunity for tech geeks like you.
 
To keep your learning spirits high, Coding Blocks introduces Flat 70% Off on the "Machine Learning Master Course" (Lite & Premium).
 
Use Coupon Code ML70 to grab the offer today!
  """,
  """
  A Way of Saying Thank You


Hello Learner,


How are you? Hope you are well and staying safe amidst this pandemic. 


As you already know, GUVI as a part of our anniversary celebrations, we are offering all our premium courses for a low price of Rs.5900/-


This anniversary pack will give you lifetime access to all our courses and to the courses that we will keep adding to our platform.


You will get access to MicroARC evaluation platform to test your skills. In fact, this is the platform used by IT recruiters to assess a candidate’s programming skills.


Also, you get to practice 1000+ practical problems in CodeKATA .
  
  """


]

In [ ]:
def prepare(messages):
  d = getDoc(messages)
  # dont do fit_transform!!! it will create new vocab 
  return cv.transform(d)

messages = prepare(messages)

In [ ]:
y_pred = model.predict(messages)
y_pred

array(['ham', 'ham', 'ham', 'ham'], dtype='<U4')